name: CI

on:
  push:
    # déclenche lorsque tu modifies tes migrations ou ton infra
    paths:
      - 'schemachange/**'
      - 'terraform/**'
  workflow_dispatch:

env:
  # tes secrets Snowflake (ou cible équivalente)
  SF_ACCOUNT: ${{ secrets.SF_ACCOUNT }}
  SF_USER:    ${{ secrets.SF_USER }}
  SF_PWD:     ${{ secrets.SF_PWD }}

jobs:
  schemachange:
    name: ▶️ Deploy schemachange migrations
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install schemachange
        run: pip install schemachange

      - name: Deploy all migrations
        working-directory: schemachange
        run: schemachange deploy --config-file-name schema-change-config.yml

  terraform-cloud:
    name: Deploy Terraform
    needs: schemachange
    runs-on: ubuntu-latest

    env:
      TF_TOKEN_app_terraform_io: ${{ secrets.TF_TOKEN_APP_TERRAFORM_IO }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.0

      - name: Terraform Init & Format & Validate
        run: |
          terraform fmt -check
          terraform init
          terraform validate
        working-directory: terraform/
